.outerContainer{
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0px;
    top:0px;
    display: flex;
    flex-direction: column;
    background-color: silver;
    overflow: auto;
}
.header{
    position: relative;
    width: 100vw;
    height: 60px;
    background-color: #0ab5cc;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-width: 300px;
}
.tableHeader{
    position: relative;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    background-color: #000;
    color: #fff;
    border-radius: 10px 10px 0px 0px;
    min-width: 300px;
}
.mainOuterContainer{
    position: relative;
    height: calc(100vh - 210px);
    margin-bottom: 50px;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    height: calc(100vh - 140px -60px );
    background-color: white;
    overflow: auto;
    border-radius: 0px 0px 10px 10px;
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    min-width: 300px;
    
}

.tableBodyContainer{
    position: relative;
    width: 100%;
    height: calc(100% - 50px);
    background-color: #fff;
    color: #000;
    overflow-y: auto;
}
.tableData{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    border-bottom: 1px solid silver;
    cursor: pointer;
}
.tableData>span{
    display: flex;
    width: 33%;
    height: 100%;
    padding-left: 5px;
    justify-content: center;
    align-items: center;
}
.loader{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-size:xx-large
}
@keyframes spinner {
  to {transform: rotate(360deg);}
}
 
.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #ccc;
  border-top-color: #000;
  animation: spinner .6s linear infinite;
}
.tableData:hover{
    background-color: #0ab5cc;
    color: #fff;
}
.mainOuterContainer::-webkit-scrollbar {
  width: 7px;
}
.mainOuterContainer::-webkit-scrollbar-track {
  background: #e2e2e2;
}
.mainOuterContainer::-webkit-scrollbar-thumb {
  background: #0ab5cc;
}

@media only screen and (max-width: 800px) {
  .mainOuterContainer{
      width: 100%;
      margin-left: 0%;
      margin-right: 0%;
  }
  .tableHeader{
      width: 100%;
      margin-left: 0%;
      margin-right: 0%;
  }
} 